.gradle
.idea/datasources*
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dictionaries
.idea/libraries
.idea/modules
.idea/modules.xml
.idea/shelf
.idea/tasks.xml
.idea/workspace.xml
.nvm
.DS_Store
build
dist
out
node_modules
npm-debug.log
protractor-screenshots
generated/
*.ipr
*.iws
*.iml
aggregator-web-core/local-environment.txt
.idea/vcs.xml
